{% extends "base.html" %}

{% block title %}
    <title>Member Listing</title>
{% endblock title %}

{% block content %}
    <h2>Members of {{ band.name }}</h2>
    <ul class="list-group">
        {% for member in members %}
            {% if member.instrument == 'v' %}
                <li class="list-group-item list-group-item-info">
            {% else %}
                <li class="list-group-item">
            {% endif %}
                    {{ member.name }} - {{ member.get_instrument_display }}
                </li>
        {% endfor %}
    </ul>
{% endblock content %}
